APP_ENV=development
APP_NAME=internal-consumer
APP_HOST=0.0.0.0
APP_DEBUG=1
APP_PORT=8888
SQL_URI=postgres://postgres:123456@localhost:5432/home?sslmode=disable
RABBITMQ_URI=amqp://guest:guest@localhost:5672/
